@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

._title {
  font-weight: 700;
  line-height: 1.225;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
}
@supports (font-size: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem )) {
  ._title {
    font-size: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem )) {
  ._title {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}
._title::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 90px;
  height: 6px;
  background-color: #C8A35F;
}

.top-header {
  background-color: #C8A35F;
  padding: 1rem 0px;
  position: relative;
  z-index: 5;
}
.top-header__container {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1.1666666667;
}
.top-header__language {
  display: flex;
  text-transform: uppercase;
}
.top-header__ru:not(:last-child) {
  margin-right: 0.625rem;
}
@media (any-hover: hover) {
  .top-header__ru:hover {
    text-decoration: underline;
  }
}
.top-header__eng {
  opacity: 0.5;
}
.top-header__eng:not(:last-child) {
  margin-right: 0.625rem;
}
@media (any-hover: hover) {
  .top-header__eng:hover {
    text-decoration: underline;
    opacity: 1;
  }
}
.top-header__fr {
  opacity: 0.5;
}
@media (any-hover: hover) {
  .top-header__fr:hover {
    text-decoration: underline;
    opacity: 1;
  }
}
@media (any-hover: hover) {
  .top-header__tel:hover {
    text-decoration: underline;
  }
}
@media (any-hover: hover) {
  .top-header__mail:hover {
    text-decoration: underline;
  }
}

.bottom-header {
  background-color: #393F47;
  padding: 1.6875rem 0px;
}
.bottom-header__container {
  display: flex;
  align-items: center;
}
.bottom-header__logo {
  position: relative;
  margin-right: 3.75rem;
}
@media (min-width: 53.18625rem) {
  .bottom-header__logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 105%;
    border: 1px solid #F2F2F2;
    width: 46px;
    transform: rotate(90deg);
    pointer-events: none;
  }
}
.bottom-header__location {
  display: flex;
  align-items: center;
  padding-right: 0.9375rem;
}
@media (any-hover: hover) {
  .bottom-header__location:hover {
    text-decoration: underline;
  }
}
@media (max-width: 53.125rem) {
  .bottom-header__location {
    align-items: center;
    justify-content: center;
    margin-top: 0.625rem;
    padding-right: 0rem;
  }
}
.bottom-header__text {
  line-height: 1.1428571429;
  letter-spacing: 0.05em;
  padding: 0.625rem 0.625rem;
}
.bottom-header__menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

@media (max-width: 53.125rem) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 4;
    background-color: #2F343A;
    padding: 8.125rem 0.9375rem;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 53.125rem) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.menu__item {
  text-transform: uppercase;
}
.menu__item:not(:last-child) {
  margin-right: 1.875rem;
}
@media (max-width: 53.125rem) {
  .menu__item:not(:last-child) {
    margin: 0px 0px 0.9375rem 0px;
  }
}
.menu__link {
  line-height: 1.1428571429;
  letter-spacing: 0.05em;
  padding: 0.625rem 0px;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 53.125rem) {
  .menu__link {
    font-size: 1.5625rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 53.125rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #C8A35F;
}
.footer__container {
  line-height: 1.1428571429;
  display: flex;
}
@supports (padding-top: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem )) {
  .footer__container {
    padding-top: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem )) {
  .footer__container {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-bottom: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem )) {
  .footer__container {
    padding-bottom: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem );
  }
}
@supports not (padding-bottom: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem )) {
  .footer__container {
    padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}
@media (max-width: 47.625rem) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__info {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
}
@media (max-width: 31.125rem) {
  .footer__info {
    flex-direction: column;
  }
}
@supports (margin-right: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
  .footer__logo {
    margin-right: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
  }
}
@supports not (margin-right: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
  .footer__logo {
    margin-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
  }
}
@media (max-width: 31.125rem) {
  .footer__logo {
    margin: 0px 0px 0.9375rem 0px;
  }
}
@media (max-width: 47.625rem) {
  .footer__block {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
@media (max-width: 31.125rem) {
  .footer__block {
    text-align: center;
  }
}
.footer__adress:not(:last-child) {
  margin-bottom: 0.7142857143em;
}
.footer__mail {
  color: #2F343A;
}
@media (any-hover: hover) {
  .footer__mail:hover {
    text-decoration: underline;
  }
}
.footer__connection {
  display: flex;
  flex: 0 1 50%;
  padding: 0px 1.5rem 0px 1rem;
  align-items: flex-end;
}
@media (max-width: 47.625rem) {
  .footer__connection {
    padding: 0.9375rem 0px 0px 0px;
  }
}
@media (max-width: 31.125rem) {
  .footer__connection {
    text-align: center;
  }
}
.footer__telephones {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 31.125rem) {
  .footer__telephones {
    flex: 1 1 50%;
  }
}
.footer__first:not(:last-child) {
  margin-bottom: 0.7142857143em;
}
@media (any-hover: hover) {
  .footer__first:hover {
    text-decoration: underline;
  }
}
@media (any-hover: hover) {
  .footer__second:hover {
    text-decoration: underline;
  }
}
.footer__copyright {
  flex: 1 1 auto;
  color: #2F343A;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 31.125rem) {
  .footer__copyright {
    flex: 1 1 50%;
    justify-content: center;
    font-size: 0.8125rem;
  }
}

.transportations {
  background: url("../img/transportations/truck.jpg") center/cover no-repeat;
}
.transportations__container {
  position: relative;
}
@media (min-width: 61.99875em) {
  .transportations__container::before {
    content: url(../img/transportations/mouse.svg);
    position: absolute;
    bottom: 8%;
    left: 48.5%;
  }
}
.transportations__body {
  text-align: center;
  margin: 0 auto;
  max-width: 57.5rem;
}
@supports (padding-top: clamp( 3.75rem , 1.4329268293rem  +  11.5853658537vw , 9.6875rem )) {
  .transportations__body {
    padding-top: clamp( 3.75rem , 1.4329268293rem  +  11.5853658537vw , 9.6875rem );
  }
}
@supports not (padding-top: clamp( 3.75rem , 1.4329268293rem  +  11.5853658537vw , 9.6875rem )) {
  .transportations__body {
    padding-top: calc(3.75rem + 5.9375 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-bottom: clamp( 3.75rem , -0.1524390244rem  +  19.512195122vw , 13.75rem )) {
  .transportations__body {
    padding-bottom: clamp( 3.75rem , -0.1524390244rem  +  19.512195122vw , 13.75rem );
  }
}
@supports not (padding-bottom: clamp( 3.75rem , -0.1524390244rem  +  19.512195122vw , 13.75rem )) {
  .transportations__body {
    padding-bottom: calc(3.75rem + 10 * (100vw - 20rem) / 51.25);
  }
}
.transportations__content {
  border: 0.0625rem solid #C8A35F;
  padding: 2.1875rem 3.125rem;
}
.transportations__title {
  font-weight: 700;
  line-height: 1.171875;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@supports (font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem )) {
  .transportations__title {
    font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem )) {
  .transportations__title {
    font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 51.25);
  }
}
.transportations__title:not(:last-child) {
  margin-bottom: 2.8125rem;
}
.transportations__text {
  line-height: 1.5555555556;
}
@supports (font-size: clamp( 0.9375rem , 0.8643292683rem  +  0.3658536585vw , 1.125rem )) {
  .transportations__text {
    font-size: clamp( 0.9375rem , 0.8643292683rem  +  0.3658536585vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.9375rem , 0.8643292683rem  +  0.3658536585vw , 1.125rem )) {
  .transportations__text {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 51.25);
  }
}

.europe {
  background-color: #393F47;
}
.europe__container {
  display: flex;
  flex: 1 1 100%;
  position: relative;
}
@supports (padding-top: clamp( 3.75rem , 1.1646341463rem  +  12.9268292683vw , 10.375rem )) {
  .europe__container {
    padding-top: clamp( 3.75rem , 1.1646341463rem  +  12.9268292683vw , 10.375rem );
  }
}
@supports not (padding-top: clamp( 3.75rem , 1.1646341463rem  +  12.9268292683vw , 10.375rem )) {
  .europe__container {
    padding-top: calc(3.75rem + 6.625 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-bottom: clamp( 1.875rem , -0.5640243902rem  +  12.1951219512vw , 8.125rem )) {
  .europe__container {
    padding-bottom: clamp( 1.875rem , -0.5640243902rem  +  12.1951219512vw , 8.125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -0.5640243902rem  +  12.1951219512vw , 8.125rem )) {
  .europe__container {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 51.25);
  }
}
@media (max-width: 53.18625rem) {
  .europe__container {
    flex-direction: column;
  }
}
@media (min-width: 61.99875em) {
  .europe__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 31.981981982%;
    width: 410px;
    height: 100%;
    background-color: #2F343A;
  }
}
.europe__content {
  flex: 0 1 475px;
  z-index: 1;
}
@media (max-width: 53.18625rem) {
  .europe__content {
    flex: 1 1 100%;
  }
}
.europe__title {
  max-width: 400px;
}
.europe__title:not(:last-child) {
  margin-bottom: 0.75em;
}
@media (max-width: 53.18625rem) {
  .europe__title {
    max-width: 100%;
    margin: 0;
  }
}
.europe__text {
  max-width: 400px;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}
.europe__text:not(:last-child) {
  margin-bottom: 2.7777777778em;
}
@media (max-width: 53.18625rem) {
  .europe__text {
    max-width: 100%;
    margin: 0;
  }
}
.europe__button {
  display: inline-flex;
  justify-content: center;
  background-color: #C8A35F;
  padding: 1.125rem 3.4375rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5625;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .europe__button:hover {
    background-color: #ac8641;
  }
}
@media (max-width: 29.99875em) {
  .europe__button {
    width: 100%;
  }
}
.europe__image {
  flex: 0 1 auto;
  z-index: 1;
}
@media (max-width: 53.18625rem) {
  .europe__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 1.875rem 0px;
  }
}
.europe__image img {
  max-width: 100%;
}

.services {
  background-color: #2F343A;
}
@supports (padding-top: clamp( 3.75rem , 1.1646341463rem  +  12.9268292683vw , 10.375rem )) {
  .services__container {
    padding-top: clamp( 3.75rem , 1.1646341463rem  +  12.9268292683vw , 10.375rem );
  }
}
@supports not (padding-top: clamp( 3.75rem , 1.1646341463rem  +  12.9268292683vw , 10.375rem )) {
  .services__container {
    padding-top: calc(3.75rem + 6.625 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
  .services__container {
    padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
  .services__container {
    padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 51.25);
  }
}
.services__title:not(:last-child) {
  margin-bottom: 1.5em;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 0.0625rem;
}
.card-content-services {
  text-align: center;
  padding: 0rem 1.25rem 2.1875rem 1.25rem;
  background-color: #393F47;
  transition: background-color 0.3s ease 0s;
}
@supports (padding-top: clamp( 2.1875rem , 1.699695122rem  +  2.4390243902vw , 3.4375rem )) {
  .card-content-services {
    padding-top: clamp( 2.1875rem , 1.699695122rem  +  2.4390243902vw , 3.4375rem );
  }
}
@supports not (padding-top: clamp( 2.1875rem , 1.699695122rem  +  2.4390243902vw , 3.4375rem )) {
  .card-content-services {
    padding-top: calc(2.1875rem + 1.25 * (100vw - 20rem) / 51.25);
  }
}
@media (any-hover: hover) {
  .card-content-services:hover {
    background-color: #C8A35F;
  }
}
.card-content-services__icon:not(:last-child) {
  margin-bottom: 2.6875em;
}
.card-content-services__text {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about {
  background-color: #2F343A;
}
@supports (padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
  .about {
    padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
  .about {
    padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 51.25);
  }
}
.about__container {
  display: flex;
  position: relative;
}
@supports (padding-top: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
  .about__container {
    padding-top: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
  .about__container {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.6067073171rem  +  6.3414634146vw , 5.125rem )) {
  .about__container {
    padding-bottom: clamp( 1.875rem , 0.6067073171rem  +  6.3414634146vw , 5.125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.6067073171rem  +  6.3414634146vw , 5.125rem )) {
  .about__container {
    padding-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 51.25);
  }
}
@media (max-width: 47.68625rem) {
  .about__container {
    flex-direction: column;
  }
}
@media (min-width: 61.99875em) {
  .about__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 31.5315315315%;
    width: 25.625rem;
    height: 30.125rem;
    background: #393F47;
  }
}
.about__company {
  flex: 0 1 45.4%;
  padding-right: 1.5625rem;
  padding-top: 2.5rem;
  z-index: 1;
}
@media (max-width: 47.68625rem) {
  .about__company {
    flex: 0 1 100%;
    padding: 0px 0px 1.875rem 0px;
  }
}
.about__title:not(:last-child) {
  margin-bottom: 0.75em;
}
.about__text {
  font-size: 1rem;
  line-height: 1.4375;
  max-width: 27.8125rem;
}
@media (max-width: 47.68625rem) {
  .about__text {
    max-width: 100%;
  }
}
.about__table {
  flex: 0 1 54.6%;
  z-index: 1;
}
@media (max-width: 47.68625rem) {
  .about__table {
    flex: 0 1 100%;
  }
}

.table-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 24.68625rem) {
  .table-about {
    gap: 0.3125rem;
  }
}
.table-about__card {
  border: 0.003125rem solid #C8A35F;
}
.table-about__content {
  background-color: #fff;
  text-align: center;
  color: #2F343A;
  height: 100%;
  padding: 1.25rem 0.9375rem;
}
.table-about__number {
  font-weight: 700;
  font-size: 3.4375rem;
  line-height: 1.2363636364;
  letter-spacing: 0.05em;
}
.table-about__what {
  font-size: 1.125rem;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}
.table-about__what:not(:last-child) {
  margin-bottom: 0.8333333333em;
}
.table-about__when {
  font-size: 0.75rem;
  line-height: 1.1666666667;
}
.table-about__image {
  position: relative;
  padding: 0px 0px 10rem 0px;
}
.table-about__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page__map {
  position: relative;
  padding: 0px 0px 28.125rem 0px;
}
.page__map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #393F47;
}

::-webkit-scrollbar-thumb {
  background-color: #C8A35F;
  border-radius: 0.625rem;
  border: 0.125rem solid #393F47;
}
